html {
    font-family: sans-serif;
    height: 100%;
    
}

body {
    height: 100%;
    margin: 0;
    background-color: gainsboro;
}

nav > ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #2F4F4F;
    
}

nav > ul > li {
    padding: 8px;
    font-size: 20px;
    color: white;
}

nav > ul > li > a {
    color: white;
}

nav > ul > li:active, .active {
    background-color: #000080;

}

nav > ul > li:hover {
    background-color: #111;
}

a {
    text-decoration: none;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/middle-attack.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    color: white;
  }

  .body-header {
      display: flex;
      flex-direction: row;
      color: #000080;
  }

  .body-header .body-left-header {
      justify-content: flex-start;
      flex: .8;
      padding-left: 20px;
  }

  .body-header .body-right-header {
      display: flex;
      flex: 1;
      justify-content: center;
  }

  .body-header > #middle-header {
    display: flex;
    flex: 1;
    justify-content: center;
}

  .body-content {
      display: flex;
      flex-direction: row;
      margin: 0;
  }

  .body-content .body-left-header {
    justify-content: flex-start;
    flex: 1;
    padding-left: 20px;
    color: #000080;
  }

  .body-content .body-right-header {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    color: #000080;
  }

  .body-content .left-text {
      display: flex;
      flex: .8;
      padding-left: 20px;
      line-height: 1.5;
      font-size: 18px;
      color: black;
  }

  .body-content .right-text {
    display: flex;
    flex: .8;
    padding-left: 20px;
    line-height: 1.5;
    font-size: 18px;
    color: black;
}

  .body-content .media {
      display: flex;
      justify-content: center;
      flex: 1;
      border: #111;      
  }

  #roster-table-div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex: 1;
      padding: 50px;
  }

#roster-table, th, td {
    font-family: Verdana;
    font-size: 18px;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 13px;
    color: #000080;
  }

  .row {
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
      justify-content: center;
  }

  .column {
      flex: 25%;
      max-width: 25%;
      padding: 0 4px;
  }

  .column img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
  }

  #schedule-table-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    padding: 50px;
  }

  #schedule-table, th, td {
    font-family: Verdana;
    font-size: 18px;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 13px;
    color: #000080;
  }


  @media screen and (max-width: 800px) {
      .column {
          flex: 50%;
          max-width: 50%;
      }
  }

  @media screen and (max-width: 600px) {
      .responsive-gallery {
          flex: 100%;
          max-width: 100%;
      }
  }
